.searchbox input {
    border: 1px solid #12005C;
    border-radius: 10px;
}

.searchbox button:hover {
    background-color: #12005C;
    color: #ffffff;
}

.searchIcon {
    content: "\f002";
    color: lightgray;
  position: absolute;
  top: 16px;
  left: 16px;
}

/* Sticky Searchbox */
.searchbox{
    margin: 10px;
}

.search-input-field {
    width: 90vw;
    font-size: 1.5rem;
}