.searchbox input {
    border: 1px solid #12005C;
    border-radius: 10px;
    width: 330px;
}

.searchbox button:hover {
    background-color: #12005C;
    color: #ffffff;
}

.searchIcon {
    content: "\f002";
    color: lightgray;
  position: absolute;
  top: 16px;
  left: 16px;
}

/* Sticky Searchbox */
.searchbox{
    /*position:fixed; */
    margin:10px;
}