.searchbox input {
    border: 1px solid #12005C;
    border-radius: 10px;
    width: 90vw;
    height: 4vh;
    margin-left:10px;
    margin-right:10px;
    font-size: 2rem;
}

.searchbox button:hover {
    background-color: #12005C;
    color: #ffffff;
}

.searchIcon {
    content: "\f002";
    color: lightgray;
  position: absolute;
  top: 16px;
  left: 16px;
}

/* Sticky Searchbox */
.searchbox{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}