#filter-text {
    display: inline !important;
}

.category-btn {
    /* background-color: lavender;
    color: purple; */
    width: 40px; 
    height:38px;
    padding: 2px;
}

.filterMenu{
    /*position: fixed;*/
    top:120px;
    margin-left: 10px;
}