
body {
  color: #4527a0;
  background-color: #f4f4f5;
  background-size: cover;
  height: 100;
  width: 100;
  position: 'relative';
  top: 0;
  left: 0
}

.main-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    width: 100vw;
    height: 100vh;
    //Background image for landing page 
    background-color: #ffffff;
    background-image: url('https://s3.ap-south-1.amazonaws.com/balaji.cinecafe/assets/shutterstock_482053549.jpg');
    background-position: center;
    background-size: contain;
    -webkit-background-size: contain;
}

.submitButton {
  background-color: #320b86;
  color: white;
  padding: 10;
  margin: 15;
  height: 40;
  border-radius: 25;
}
.submitButton:hover {
  background-color: lightgray;
  color: #320b86 ;
  padding: 10;
  margin: 15;
  height: 40;
  border-radius: 25;
}

.searchBox {
  padding-left: 10;
  margin-bottom: 10;
  border-style: solid;
  border-radius: 10;
  border-width: 1;
  border-color: lightgrey
}

#cart-items{
  float: right;
  margin-right: 1%  ;
  font-size: 20px;
  color: purple;
}

.btnLanding{
  width: 200px;
  height: 56pt;
  border: 3px solid #12005C;
  background-color: #F0F4F8;
  cursor: pointer;
  border-radius: 8px;
  margin: 20px;
}

#landingPage{
  margin: 20px;
  margin-top:50px;
}
#seatServerForm , #pickOrderForm {
  margin: 10px;
  padding: 10px;
  width: 80%;
}
.homelabel{

  font-size: 20px;
  color: #12005C;
  width: 150px;
  height: 20px;
  text-align: center;
}
.homelabel2{

  font-size: 20px;
  color: #F0F4F8;
  width: 150px;
  height: 20px;
  text-align: center;
}
.checkout-content {
 border-top: 25px solid #12065C;
}

.navigation-container {
    .solid-bar {
        width: 100vw;
        height: 3vh;
        background-color: #12065C;
        z-index: 10;
        margin-bottom: 1rem;
    }
}

.Nav__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100vw;
}

.Nav__brand_logo {
    img {
        width: 100px;
        height: 50px;
        margin-top: 0.9rem;
    }
}

//Style 1 example 
.nav-shopping-cart {
  position: relative;

    .icon-container {
        position: relative;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .overlay-items-nd {
        display: none;
    }

    .icon-overlay-items {
        position: absolute;
        z-index: 10;
        font-weight: 900;
        width: 2rem;
        height: 2rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #ffffff;
        margin-left: 0.5rem;
        margin-top: 0.5rem;

        .icon-quantity-overlay {
            font-size: 1rem;
            color: #84639B;
            z-index: 20;
            margin-left: 0.9rem;
        }
    }
}
//End of Style 1 example 
.no-result-message {
  font-family: 'Artifika', serif;
  color: purple;
}

.menuCard{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

/****************************
        SHYAM CSS CHANGES
 ****************************/
.landing-page-body {
    height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;

    .action-pickup, .action-serve {
        .pickup, .seat-serve{
            width: 50vw;
            height: 10vh;
            border: 2px solid #12005C;
            border-radius: 8px;
            color: #12005C; 
            font-weight: 900;
            font-size: 1.7rem;
        }
        .pickup-active, .seat-serve-active{
            width: 50vw;
            height: 10vh;
            border: 2px solid #F0F4F8;
            border-radius: 8px;
            background-color: #12005C;
            color: #F0F4F8
        }
    }
}
.btn-confirm {
  width: 40vw;
  height: 5vh;
  border: 2px solid #12005C;
  border-radius: 8px;
  color: #12005C; 
  font-weight: 900;
}

.landing-page-body-hidden {
    display: none;
}

.selected-action-body {
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    .optionTitleRow {
        margin-bottom: 2em;
        h2 {
            font-size: 3rem;
        }
    }

    .confirm-btn-row {
        margin-top: 2em;

        button {
            width: 26vw;
            height: 5vh;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

.selected-action-body-hidden {
    display: none;
}

.fixed-sub-container {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    z-index: 6;
    height: 36vh;
    // top purple color bar above navigation
    border-top: 25px solid #12005C;
}

.menu-items-content {
    position: relative;
    z-index: 0;
    margin-top: 33vh;
    min-height: 65vh;
    background-color: #ffffff;
    background-image: url('https://s3.ap-south-1.amazonaws.com/balaji.cinecafe/assets/shutterstock_482053549.jpg');
    background-position: center;
    background-size: contain;
    -webkit-background-size: contain;
}

.categoryHeader {
    font-size: 2.5em;
    margin-left: 0.5em;
    font-weight: 900;
}

.continue-footer {
  position: sticky;
  display: flex;
  flex-flow: row wrap;
  bottom: 0;
  width: 100vw;
  height: 6vh;
  float: bottom;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;

  .left-side-continue {
    width: 50%;
    height: inherit;
    background-color: #008000;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .footer-total-items {
      .quantity-unit-text {
        margin-left: 0.5rem;
      }
    }

    .footer-total-price {
      &:before {
        content: '\20B9';
      }
    }
  }

  .right-side-continue {
    width: 50%;
    height: inherit;

    .continue-button {
      width: 100%;
      height: 100%;
      border: 0rem;
      background-color: #008000;
      color: #ffffff;
      font-weight: 500;
    }
  }
}
